node_modules
dist
dist-electron
release
build/icon.iconset
build/ico-sizes
!build/icon.png
!build/icon.ico
!build/icon.icns
.DS_Store
*.log
.env
*.env
!.env.example
!*.env.example
supabase/.temp
*.sqlite
*.sqlite-shm
*.sqlite-wal
